@import "~bootstrap/scss/bootstrap";
/*$bootstrap-icons-font-dir: "../../node_modules/bootstrap-icons/font/fonts"; // relative to the current file
@import "~bootstrap-icons/font/bootstrap-icons";*/
$fa-font-path: "../../node_modules/@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/v4-shims.scss";
@import "../../node_modules/leaflet/dist/leaflet.css";
/*https://www.npmjs.com/package/@fontsource/lora*/
@import "../../node_modules/@fontsource/lora/index.css"; // Defaults to weight 400


:root {
  --bs-bg-opacity:0.9;
}
body {
  font-family: "Lora";
}
.hero-background {
  /*background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(77, 77, 77, 0.7)), url(../img/bng_header.png) center center;*/
  background:url(../img/bng_header.png);
  background-position: 15% 55%;
  min-height: 750px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}
.countdown h2 {
    font-size: 2rem;
    margin-top: 0;
}
.countdown ul {
  display: inline-flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 2rem;
}
 .countdown li {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin: 0 0.5rem;
    color: #e8ca6f;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
 }
.countdown span {
    font-size: 2rem;
}

.rsvp .rsvp-form .rsvp-btn {
  padding: 15px 0;
  border-radius: 3px;
  width: 100%;
  font-size: 13px;
}

.time{
  font-size: 0.65em;
  color: #6e6e6e;
}
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 9999;
}

#video-bg {
  height: 350px;
}

#video-content {
  width: 100%;
  height: 100%;
  padding-top: 100px;
  position: relative;
  background: rgba(17, 17, 17, .5);
  text-align: center;
}

#video-content h5 {
  color: #fff;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 10px;
}

#video-content p {
  color: #fff;
}

.margin-top {
  margin-top: 75px;
}

.margin-bottom {
  margin-top: 75px;
}

#leaflet-map {
  height: 350px;
}

.leaflet-popup-close-button {
  display: none;
}

.myDivIcon {
  text-align: center;
  /* Horizontally center the text (icon) */
  line-height: 20px;
  /* Vertically center the text (icon) */
}

.leaflet-tile-pane {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.section-padding {
  padding: 40px 0;
}
.rsvp {
  padding-bottom: 140px;
  
}
.rsvp .rsvp-form .rsvp-btn {
  padding: 15px 0;
  border-radius: 3px;
  width: 100%;
  font-size: 13px;
}
.rsvp .rsvp-form .form-input-group {
  width: 100%;
  height: 55px;
  margin: 0 auto 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: solid 1px #e6e9ea;
  text-align: left;
  position: relative;
}
.rsvp .rsvp-form .form-input-group i {
  color: #e8ca6f;
  font-size: 14px;
}
.rsvp .rsvp-form .form-input-group i:after {
  content: "";
  height: 30px;
  width: 1px;
  border-right: solid 1px #e6e9ea;
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
}
.rsvp .rsvp-form .form-input-group i.fa-user, .rsvp .rsvp-form .form-input-group i.fa-users, .rsvp .rsvp-form .form-input-group i.fa-envelope, .rsvp .rsvp-form .form-input-group .fa-key, .rsvp .rsvp-form .form-input-group .fa-hotel, .rsvp .rsvp-form .form-input-group .fa-comment {
  font-size: 14px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 20px;
}
.rsvp .rsvp-form .form-input-group input {
  padding-left: 68px;
  width: 100%;
  height: 100%;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: none;
}
.rsvp .rsvp-form .form-input-group input::-webkit-input-placeholder {
  color: #bcc1c3;
}
.rsvp .rsvp-form .form-input-group input:-moz-placeholder {
  color: #bcc1c3;
}
.rsvp .rsvp-form .form-input-group input::-moz-placeholder {
  color: #bcc1c3;
}
.rsvp .rsvp-form .form-input-group input:-ms-input-placeholder {
  color: #bcc1c3;
}